name: RISC-V CPU CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Apptainer
      uses: eWaterCycle/setup-apptainer@v2
      with:
        apptainer-version: '1.3.4'

    - name: Run Tests in Apptainer
      continue-on-error: true 
      shell: bash
      run: |
          echo "Running all workload tests..."          
          apptainer exec --no-home \
            oras://ghcr.io/zcychar/risc-v-cpu/my-test-image:latest \
            python main.py